
body {
	background-attachment: fixed;
	/*background-size: cover;*/
	color: #000000;
	margin: 0; 
	padding: 0;
	width: 100%;
}

/*the wrapper that houses all the content*/
#wrapper {
	margin: auto;
	text-align: center;
	width: 100%;

}

/*the icons (the headset and the speaker icon)*/
#icon{
	position: relative;
	width:100px;
	height: 100px;
}

#speaker{
	position: relative;
	width:150px;
	height: 100px;
}

/*the heading text...name of the app*/
h1 {
	margin-left: 100px;
	font-family: 'Rock Salt', cursive;
	margin-bottom: -50px;
	text-align: left;
}

/*positioning the audio player*/
#player {
	z-index: 400;
	position: fixed;
	text-align: right;
	right: 0px;
	top:20px;
	margin-right: 20px;
}

/*positioning the searchBar (searchField and the searchButton) */
#searchBar {
	margin: auto;
	background: rgba(0, 0, 0, .5);
	width: 100%;
	/*height: 43px;*/
	border: 1.5px solid #3385FF;
}

#nav-bar {
	float: left;
}

#nav-bar li a{
	color: #fff;
	font-family: 'Calligraffitti', cursive;
	text-decoration: none;
	margin-right: 5px;
	padding: 2px 2px;
}

#nav-bar li a:hover {
	background-color: skyblue;
	border-radius: 2px;
}

#searchBar ul {
	text-align: right;
	list-style: none;
}

#searchBar li {
	display: inline-block;
}

#searchField {
	position: relative;
	top: -2px;
	height: 20px;
	width: 180px;
	margin-right: 5px;

}

#searchButton { 
	position: relative;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    top: 3px;
    border-radius: 100px;
    margin-right: 100px;
}

/*the homeButton that allow the user to scroll back up to the searchField*/
#home {
	position: relative;
	width: 30px;
	height: 30px;
	z-index: 400;
	position: fixed;
	right: 0px;
	top: 60px;
	margin-right: 30px;
	opacity: .8;
}

/*the text above that states "Powered by SoundCloud"*/
p {
	font-family: 'Calligraffitti', cursive;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	margin-right: 50px;
}

/******************************
THE SEARCH RESULT
*******************************/

/*each divs that house individual searchResult content*/
.post {
	background: url(../img/wall1.gif);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 1% 1%;
	width: 250px;
	height: 200px;
	line-height: 1em;
	display: inline-block;
	/*padding: 5px 5px;*/
	opacity: .8;
	border-radius: 10px;
	overflow: hidden;
}

.preloader {
	margin: auto;
	margin-top: 100px;
}



/*the hover effect on the div and other buttons on the div*/
.post:hover, 
.playIcon:hover,
#home:hover {
	opacity: 1;
}

.post.selected,
.playIcon.selected {
	opacity: none;
}

#content {
	padding-top: 5px;
	list-style: none;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}

.post a, 
.post li {
	text-align: center;
	color: #000000;
	text-decoration: none;
	display: inline-block;
}

/*size of the playButton*/
.playIcon {
	opacity: 0.5;	
	width: 50px;
	height: 50px;
}

/*the song name*/
.songName {
	font-variant: normal;
	font-size: 14px;
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 250px; /* change to your preferences */
    white-space: pre-line; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

/*the position of the album-art on the div*/
#songImg {

}
